!!!
html
  head
    title= title
    script(type="text/javascript", src="/javascripts/jquery-1.7.1-min.js")
    script(type="text/javascript", src="/javascripts/bootstrap.min.js")
    script(type="text/javascript", src="/javascripts/d3/d3.js")
    script(type="text/javascript", src="/javascripts/d3/d3.layout.js")
    script(type="text/javascript", src="/javascripts/d3/d3.csv.js")
    script(type="text/javascript", src="/javascripts/packages.js")
    script(type="text/javascript", src="/javascripts/cluster.js")
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/beaverton.css')
  body(onload="start()")!= body